<!--About-->
<section id="aboutUs" class="secPad">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>I am Ningsuhen Waikhom; Full Stack, iOS & Android Application Developer.</h2>
            <p>I'm also a technical consultant for Web & Mobile Technology Startups.</p>
        </div>
        <div class="row">
            <!-- item -->
            <div class="col-md-4 text-center tileBox">
                <div class="txtHead"> <i class="fa fa-desktop"></i>
                    <h3>Full Stack <span class="id-color">Web Development</span></h3></div>
                <p>Full Stack web development in various programming languages and frameworks - Django(Python), Laravel(PHP), Express (NodeJS), MySQL, MongoDB, BackboneJS, AngularJS, MEANJS, etc.</p>
            </div>
            <!-- end: -->

            <!-- item -->
            <div class="col-md-4 text-center tileBox">
                <div class="txtHead"><i class="fa fa-mobile"></i>
                    <h3>Mobile App <span class="id-color">Development</span></h3></div>
                <p>Mobile application development using Native and Hybrid technologies. iOS App development using Objective-C or Swift. Android App development in JAVA. Cross platform App development using HTML5 and frameworks like Cordova.</p>
            </div>
            <!-- end: -->

            <!-- item -->
            <div class="col-md-4 text-center tileBox">
                <div class="txtHead"><i class="fa fa-cloud"></i>
                    <h3>Agile <span class="id-color">Software Engineering</span></h3></div>
                <p>Rapid and efficient Software engineering methodologies using Jenkins(CI), CodeShip (CI & CD), Docker, Capistrano and/or Chef. Test Automation using Selenium, Protractor, etc. & Performance Engineering for Web Applications.</p>
            </div>
            <!-- end: -->
        </div>
    </div>
</section>

<!--Quote-->
<section id="quote" class="bg-parlex">
    <div class="parlex-back">
        <div class="container secPad text-center">
            <h2>I skate to where the puck is going to be, not where it has been.</h2>
            <!--<h3>-</h3>-->
        </div>
        <!--/.container-->
    </div>
</section>