<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief history of my Work Experience.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>-->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2014 - Present</h4>
                                    <h4 class="subheading">Indie Developer & Entrepreneur</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developing Web and mobile apps as Indie developer. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/TreepieTech-Thumbnail.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014</h4>
                                    <h4 class="subheading">Treepie Technologies Pvt. Ltd.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Became Co-Founder of Treepie Tech and handled the technical aspects of the Startup.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Adobe-Noida-building.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2011 to Apr 2014</h4>
                                    <h4 class="subheading">Adobe Systems India Pvt. Ltd.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked in Adobe for more than 3 years as Software Engineer and Lead Software Engineer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Amdocs-cybercity.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2009</h4>
                                    <h4 class="subheading">Amdocs DVCI, Pune, India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Joined Amdocs and worked there for 1.5 years in the field of Telecommunications industry!</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>