<!--Experience-->
<section id="experience" class="secPad">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Professional Experience</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        </div>
        <div id="timeline">
            <div class="row timeline-movement timeline-movement-top">
                <div class="timeline-badge timeline-future-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="timeline-badge timeline-filter-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </div>

            </div>


            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">Nov</span>
                    <span class="timeline-balloon-date-month">2014</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Indie Developer & Entrepreneur</span></li>
                                    <li><span
                                            class="causale">Developing Web and mobile apps as Indie developer. </span>
                                    </li>
                                    <li>
                                        <p>
                                            <small class="text-muted"> 29/08/2014 - Present</small>
                                        </p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">May</span>
                    <span class="timeline-balloon-date-month">2014</span>
                </div>
                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Treepie Technologies Pvt. Ltd.</span></li>
                                    <li><span
                                            class="causale">Became Co-Founder of Treepie Tech and handled the technical aspects of the Startup. </span>
                                    </li>
                                    <li>
                                        <p>
                                            <small class="text-muted"> 09/05/2014 - 28/08/2014</small>
                                        </p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">Jan</span>
                    <span class="timeline-balloon-date-month">2011</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Adobe Systems India Pvt. Ltd.</span></li>
                                    <li><span class="causale">Worked in Adobe for more than 3 years as Software Engineer and Lead Software Engineer.</span>
                                    </li>
                                    <li>
                                        <p>
                                            <small class="text-muted"> 03/01/2011 - 04/04/2014</small>
                                        </p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row timeline-movement">
                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">May</span>
                    <span class="timeline-balloon-date-month">2009</span>
                </div>
                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Amdocs DVCI, Pune, India</span></li>
                                    <li><span class="causale">Joined Amdocs and worked there for 1.5 years in the field of Telecommunications industry! </span>
                                    </li>
                                    <li>
                                        <p>
                                            <small class="text-muted"> 19/05/2009 - 15/12/2010</small>
                                        </p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>