<section id="home">
    <div class="banner-container">
        <img src="images/NingsuhenWaikhom@manaliwithbike.png" alt="banner" />
        <div class="container banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Full Stack Developer</h2>
                    <p>I develop both backend and frontend of web applications</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Mobile App Developer</h2>
                    <p>Available for developing iOS and Android mobile apps.</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Technical Consulting</h2>
                    <p>Available for consulting in Agile Software Engineering of web & mobile applications.</p>
                    <div class="da-img"></div>
                </div>
                <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
            </div>
        </div>
    </div>
</section>
<section id="introText">
    <div class="container">
        <div class="text-center">
            <h3>I create high performance and scalable web/mobile applications using latest technologies.</h3>
            <p></p>
        </div>
    </div>

</section>