<!--Portfolio-->
<section id="portfolio" class="page-section section appear clearfix secPad">
    <div class="container">

        <div class="heading text-center">
            <!-- Heading -->
            <h2>Portfolio</h2>
            <p>List of important projects I have worked on.</p>
        </div>

        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                    {% for category in site.categories %}
                        <li><a href="#" class="btn-theme btn-small" data-filter='.{{ category | first | slugify }}'>{{category}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix" id="3">
                        {% for post in site.posts %}
                        <article class="col-sm-4 isotopeItem {% for postcategory in post.category %} {{postcategory | slugify}} {% endfor %}">
                            <div class="portfolio-item">
                                <img src="img/portfolio/{{post.thumbnail}}" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="img/portfolio/{{post.img}}" class="fancybox">
                                            <h5>{{post.title}}</h5>
                                            <i class="fa fa-arrows-alt fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                    </div>

                </div>


            </div>
        </div>

    </div>
</section>