---
layout: compress
---
<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->




  {% include head.html %}


<body>

    {% include header.html %}
    {% include home.html %}
    {% include about.html %}

    {% include skills.html %}
    {% include experience.html %}
    {% include portfolio_grid.html %}

    {% include contact.html %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>